<!DOCTYPE html>
<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>This post is a little introduction to django.</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Django is a free and open source web application framework, written in Python. A web framework is a set of components that helps you to develop websites faster and easier.  </p>
        </article>
    </body>
</html>